body{
    font-family: Helvetica;
    color: #ecf0f1;
    text-align: center;
}

#Header{
	background-color: #2ecc71;
	padding: 20px;
}

#Internet{
	background-color: #e74c3c;
	padding: 20px;
}

#Apple{
	background-color: #3498db;
	padding: 20px;
}
#InternetChart {
	padding: 20px;
}

#AppleChart {
	padding: 20px;
}

p {
	text-size: 24pt;
}
